.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #202c34;
    color: white;
    overflow-y: hidden;
}

#chat-names-holder, #chat-holder {
    background-color: #202c34;
    height: 100%;
    /* text-align: center;
    align-items: center; */
}

#chat-holder, #message-box, #recipient-name {
    border: solid 0.5px #455f70;
    padding-left: 10px;
    padding-right: 10px;
}

#chat-names-holder {
    border: solid 0.5px #455f70;
    border-right: none;
    width: 23%;
    height: 99.8%;
}

#chat-holder {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.user-message, .other-user-message {
    width: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #3f629b;
}

.other-user-message {
    background-color: rgb(57, 86, 95) !important;
}

.your-messages {
    justify-content: right;
    align-items: right;
    display: flex;
}

.other-person-message {
    justify-content: left;
    align-items: left;
    display: flex;
}

.left-names-holder {
    border-bottom: solid 0.5px #455f70;
    padding: 3px;
}

.last-message {
    color: rgba(255, 255, 255, 0.507);
}

#message-box {
    height: 40px;
    background-color: #202c34;
    color: rgba(173, 178, 206, 0.788);
    border-top: none;
}

#right-box {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    transition: width 0.5s ease;
}

#recipient-name {
    background-color: #202c34;
    border-bottom: none;
    height: 50px;
}